@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0 140px;
  background: radial-gradient(
      45.87% 90.71% at 35.83% 53.61%,
      #b1c1ea 0%,
      rgba(177, 193, 234, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.Hero-section {
  height: calc(100vh);
  /* width: calc(100vw); */
}
.navbar {
  display: flex;
  flex-direction: row;
  padding-top: 72px;
  justify-content: space-between;
}
.logo {
  font-family: Pacifico, sans-serif;
}
.links a {
  cursor: pointer;
  text-decoration: none;
  padding: 32px;
  color: black;
}
.links a:hover {
  color: #2864ff;
}
.pricing {
  background-color: #2864ff;
  padding: 13px 32px;
  border-radius: 8px;
}
.pricing a {
  color: white;
  text-decoration: none;
}

.hero {
  margin-top: 123px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  font-size: 56px;
  line-height: 84px;
  font: Poppins;
  font-weight: 700;
}
.hero-buttons {
  margin-top: 32px;
}
.hero-buttons a:first-child {
  background-color: #2864ff;
  text-decoration: none;
  color: white;
  padding: 13px 26.5px;
  border-radius: 8px;
  margin-right: 2rem;
}

.hero-buttons a:last-child {
  text-decoration: none;
  color: black;
  padding: 13px 26.5px;
  border-radius: 8px;
  border: 2px solid rgb(84, 50, 207);
}

.image-section img {
  width: 372px;
  height: 271px;
}
.rectangle {
  width: 968px;
  height: 251px;
  left: 140px;
  margin-top: 165px;
  background: rgba(40, 100, 255, 0.08);
  border-radius: 8px;
}
